@font-face {
  font-family: "iconfont";
  /* Project id 2921074 */
  src: url('https://fastly.jsdelivr.net/gh/vhhgx/cdn/dist/fonts/iconfont.woff2') format('woff2'),
    url('https://fastly.jsdelivr.net/gh/vhhgx/cdn/dist/fonts/iconfont.woff') format('woff'),
    url('https://fastly.jsdelivr.net/gh/vhhgx/cdn/dist/fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new:before {
  content: "\e7e1";
}

.icon-notes:before {
  content: "\e7e2";
}

.icon-lock:before {
  content: "\e7e3";
}

.icon-medal:before {
  content: "\e7e4";
}

.icon-menu:before {
  content: "\e7e5";
}

.icon-mic_off:before {
  content: "\e7e6";
}

.icon-pizza:before {
  content: "\e7e7";
}

.icon-pie_chart:before {
  content: "\e7e8";
}

.icon-a-cloudcheck:before {
  content: "\e7e9";
}

.icon-more_vertical:before {
  content: "\e7ea";
}

.icon-person:before {
  content: "\e7eb";
}

.icon-chevron_double_up:before {
  content: "\e7ec";
}

.icon-paint_roller:before {
  content: "\e7ed";
}

.icon-phone:before {
  content: "\e7ee";
}

.icon-play_circled:before {
  content: "\e7ef";
}

.icon-mission:before {
  content: "\e7f0";
}

.icon-live:before {
  content: "\e7f1";
}

.icon-remove:before {
  content: "\e7f2";
}

.icon-phone_call_outgoing:before {
  content: "\e7f3";
}

.icon-music:before {
  content: "\e7f4";
}

.icon-mouse:before {
  content: "\e7f5";
}

.icon-percent:before {
  content: "\e7f6";
}

.icon-open:before {
  content: "\e7f7";
}

.icon-profile_circled:before {
  content: "\e7f8";
}

.icon-note:before {
  content: "\e7f9";
}

.icon-rain:before {
  content: "\e7fa";
}

.icon-pin:before {
  content: "\e7fb";
}

.icon-notification_off:before {
  content: "\e7fc";
}

.icon-repeat:before {
  content: "\e7fd";
}

.icon-login:before {
  content: "\e7fe";
}

.icon-paint_bucket:before {
  content: "\e7ff";
}

.icon-presentation:before {
  content: "\e800";
}

.icon-next:before {
  content: "\e801";
}

.icon-previous:before {
  content: "\e802";
}

.icon-power:before {
  content: "\e803";
}

.icon-playlist:before {
  content: "\e804";
}

.icon-receipt:before {
  content: "\e805";
}

.icon-messages:before {
  content: "\e806";
}

.icon-search:before {
  content: "\e807";
}

.icon-pen:before {
  content: "\e808";
}

.icon-cloud_off:before {
  content: "\e809";
}

.icon-save:before {
  content: "\e80a";
}

.icon-promotion:before {
  content: "\e80b";
}

.icon-sad:before {
  content: "\e80c";
}

.icon-scan:before {
  content: "\e80d";
}

.icon-shopping_bag:before {
  content: "\e80e";
}

.icon-send:before {
  content: "\e80f";
}

.icon-schedule:before {
  content: "\e810";
}

.icon-rocket:before {
  content: "\e811";
}

.icon-safe:before {
  content: "\e812";
}

.icon-shield_check:before {
  content: "\e813";
}

.icon-snowflake:before {
  content: "\e814";
}

.icon-play:before {
  content: "\e815";
}

.icon-design:before {
  content: "\e816";
}

.icon-show:before {
  content: "\e817";
}

.icon-sort_ascending:before {
  content: "\e818";
}

.icon-smart_watch:before {
  content: "\e819";
}

.icon-phone_call_rejected:before {
  content: "\e81a";
}

.icon-mobile:before {
  content: "\e81b";
}

.icon-sync:before {
  content: "\e81c";
}

.icon-puzzle:before {
  content: "\e81d";
}

.icon-printer:before {
  content: "\e81e";
}

.icon-target:before {
  content: "\e821";
}

.icon-right_align:before {
  content: "\e822";
}

.icon-ruler:before {
  content: "\e823";
}

.icon-toggle_right:before {
  content: "\e824";
}

.icon-spray:before {
  content: "\e826";
}

.icon-server:before {
  content: "\e827";
}

.icon-sun:before {
  content: "\e828";
}

.icon-reload:before {
  content: "\e829";
}

.icon-redo:before {
  content: "\e82a";
}

.icon-truck:before {
  content: "\e82b";
}

.icon-update:before {
  content: "\e82c";
}

.icon-size:before {
  content: "\e82d";
}

.icon-timer:before {
  content: "\e82e";
}

.icon-thumbs_up:before {
  content: "\e82f";
}

.icon-thumbs_down:before {
  content: "\e830";
}

.icon-settings:before {
  content: "\e831";
}

.icon-video_off:before {
  content: "\e832";
}

.icon-trophy:before {
  content: "\e833";
}

.icon-scissors:before {
  content: "\e834";
}

.icon-privacy:before {
  content: "\e835";
}

.icon-phone_call_incoming:before {
  content: "\e836";
}

.icon-shield:before {
  content: "\e837";
}

.icon-smile:before {
  content: "\e838";
}

.icon-stop:before {
  content: "\e839";
}

.icon-trending_down:before {
  content: "\e83a";
}

.icon-tag:before {
  content: "\e83b";
}

.icon-toggle_left:before {
  content: "\e83c";
}

.icon-web_development:before {
  content: "\e83d";
}

.icon-warning:before {
  content: "\e83e";
}

.icon-trash:before {
  content: "\e83f";
}

.icon-share:before {
  content: "\e841";
}

.icon-umbrella:before {
  content: "\e842";
}

.icon-unlock:before {
  content: "\e843";
}

.icon-add:before {
  content: "\e744";
}

.icon-trending_up:before {
  content: "\e844";
}

.icon-anchor:before {
  content: "\e745";
}

.icon-underline:before {
  content: "\e845";
}

.icon-arrow_down:before {
  content: "\e746";
}

.icon-vector:before {
  content: "\e846";
}

.icon-add_circled:before {
  content: "\e747";
}

.icon-ship:before {
  content: "\e847";
}

.icon-activity:before {
  content: "\e748";
}

.icon-ticket:before {
  content: "\e848";
}

.icon-arrow_backward:before {
  content: "\e749";
}

.icon-volume_off:before {
  content: "\e849";
}

.icon-arrow_up_down:before {
  content: "\e74a";
}

.icon-zap:before {
  content: "\e84a";
}

.icon-archive:before {
  content: "\e74b";
}

.icon-volume_high:before {
  content: "\e84b";
}

.icon-alarm:before {
  content: "\e74c";
}

.icon-store:before {
  content: "\e84c";
}

.icon-arrow_up:before {
  content: "\e74d";
}

.icon-watch:before {
  content: "\e84d";
}

.icon-at_sign:before {
  content: "\e74e";
}

.icon-train:before {
  content: "\e84e";
}

.icon-attachment:before {
  content: "\e74f";
}

.icon-tablet:before {
  content: "\e84f";
}

.icon-alert_circled:before {
  content: "\e750";
}

.icon-window:before {
  content: "\e850";
}

.icon-battery_full:before {
  content: "\e751";
}

.icon-wind:before {
  content: "\e851";
}

.icon-arrow_forward:before {
  content: "\e752";
}

.icon-tool:before {
  content: "\e852";
}

.icon-bar_chart:before {
  content: "\e753";
}

.icon-upload:before {
  content: "\e853";
}

.icon-bluetooth:before {
  content: "\e754";
}

.icon-undo:before {
  content: "\e854";
}

.icon-battery_charging:before {
  content: "\e755";
}

.icon-sort:before {
  content: "\e855";
}

.icon-badge:before {
  content: "\e756";
}

.icon-table_tennis:before {
  content: "\e856";
}

.icon-battery_low:before {
  content: "\e757";
}

.icon-star:before {
  content: "\e857";
}

.icon-bold:before {
  content: "\e758";
}

.icon-thermometer:before {
  content: "\e858";
}

.icon-camera:before {
  content: "\e759";
}

.icon-wifi:before {
  content: "\e859";
}

.icon-android:before {
  content: "\e75a";
}

.icon-zoom_in:before {
  content: "\e85a";
}

.icon-battery_half:before {
  content: "\e75b";
}

.icon-folder_add:before {
  content: "\e85b";
}

.icon-basketball:before {
  content: "\e75c";
}

.icon-volume:before {
  content: "\e85c";
}

.icon-brush:before {
  content: "\e75d";
}

.icon-growth:before {
  content: "\e85d";
}

.icon-apple:before {
  content: "\e75e";
}

.icon-tv:before {
  content: "\e85e";
}

.icon-book:before {
  content: "\e75f";
}

.icon-building:before {
  content: "\e760";
}

.icon-tile_view:before {
  content: "\e860";
}

.icon-check_circled:before {
  content: "\e761";
}

.icon-utensils:before {
  content: "\e861";
}

.icon-bulb:before {
  content: "\e762";
}

.icon-meh:before {
  content: "\e862";
}

.icon-calendar:before {
  content: "\e763";
}

.icon-video_recorder:before {
  content: "\e863";
}

.icon-chevron_double_down:before {
  content: "\e764";
}

.icon-wallet:before {
  content: "\e864";
}

.icon-bug:before {
  content: "\e765";
}

.icon-youtube:before {
  content: "\e865";
}

.icon-bank:before {
  content: "\e766";
}

.icon-wifi_off:before {
  content: "\e866";
}

.icon-burger:before {
  content: "\e767";
}

.icon-shuffle:before {
  content: "\e867";
}

.icon-briefcase:before {
  content: "\e768";
}

.icon-sort_decending:before {
  content: "\e868";
}

.icon-calculator:before {
  content: "\e769";
}

.icon-multiselect:before {
  content: "\e869";
}

.icon-bluetooth_off:before {
  content: "\e76a";
}

.icon-tune:before {
  content: "\e86a";
}

.icon-chevron_backward:before {
  content: "\e76b";
}

.icon-wine:before {
  content: "\e86b";
}

.icon-close:before {
  content: "\e76c";
}

.icon-zoom_out:before {
  content: "\e86c";
}

.icon-category:before {
  content: "\e76d";
}

.icon-cart:before {
  content: "\e76e";
}

.icon-battery:before {
  content: "\e76f";
}

.icon-cast:before {
  content: "\e770";
}

.icon-chevron_forward:before {
  content: "\e771";
}

.icon-cake:before {
  content: "\e772";
}

.icon-bus:before {
  content: "\e773";
}

.icon-check:before {
  content: "\e774";
}

.icon-bookmark:before {
  content: "\e775";
}

.icon-copy:before {
  content: "\e776";
}

.icon-chevron_double_backward:before {
  content: "\e777";
}

.icon-cursor:before {
  content: "\e778";
}

.icon-box:before {
  content: "\e779";
}

.icon-cloud_upload:before {
  content: "\e77a";
}

.icon-chevron_down:before {
  content: "\e77b";
}

.icon-chip:before {
  content: "\e77c";
}

.icon-chevron_double_forward:before {
  content: "\e77d";
}

.icon-close_circled:before {
  content: "\e77e";
}

.icon-cloud_download:before {
  content: "\e77f";
}

.icon-coffee:before {
  content: "\e780";
}

.icon-compass:before {
  content: "\e781";
}

.icon-center_align:before {
  content: "\e782";
}

.icon-chevron_up:before {
  content: "\e783";
}

.icon-checkbox:before {
  content: "\e784";
}

.icon-check_all:before {
  content: "\e785";
}

.icon-clock:before {
  content: "\e786";
}

.icon-clipboard:before {
  content: "\e787";
}

.icon-basket:before {
  content: "\e788";
}

.icon-crosshairs:before {
  content: "\e789";
}

.icon-crop:before {
  content: "\e78a";
}

.icon-files:before {
  content: "\e78b";
}

.icon-edit:before {
  content: "\e78c";
}

.icon-chrome:before {
  content: "\e78d";
}

.icon-cycling:before {
  content: "\e78e";
}

.icon-event_add:before {
  content: "\e78f";
}

.icon-code:before {
  content: "\e790";
}

.icon-flag:before {
  content: "\e791";
}

.icon-command:before {
  content: "\e792";
}

.icon-dumbell:before {
  content: "\e793";
}

.icon-donut_chart:before {
  content: "\e794";
}

.icon-dashboard:before {
  content: "\e795";
}

.icon-color_palette:before {
  content: "\e796";
}

.icon-gift:before {
  content: "\e797";
}

.icon-cloud:before {
  content: "\e798";
}

.icon-diamond:before {
  content: "\e799";
}

.icon-fast_backward:before {
  content: "\e79a";
}

.icon-file_add:before {
  content: "\e79b";
}

.icon-dollar:before {
  content: "\e79c";
}

.icon-file:before {
  content: "\e79d";
}

.icon-expand:before {
  content: "\e79e";
}

.icon-film:before {
  content: "\e79f";
}

.icon-gamepad:before {
  content: "\e7a0";
}

.icon-headphone:before {
  content: "\e7a1";
}

.icon-hourglass:before {
  content: "\e7a2";
}

.icon-figma:before {
  content: "\e7a3";
}

.icon-fast_forward:before {
  content: "\e7a4";
}

.icon-document:before {
  content: "\e7a5";
}

.icon-drop:before {
  content: "\e7a6";
}

.icon-help:before {
  content: "\e7a7";
}

.icon-flight:before {
  content: "\e7a8";
}

.icon-italics:before {
  content: "\e7a9";
}

.icon-frown:before {
  content: "\e7ab";
}

.icon-database:before {
  content: "\e7ac";
}

.icon-fire:before {
  content: "\e7ad";
}

.icon-history:before {
  content: "\e7ae";
}

.icon-laptop:before {
  content: "\e7af";
}

.icon-eye_dropper:before {
  content: "\e7b0";
}

.icon-folder:before {
  content: "\e7b1";
}

.icon-a-handcursor:before {
  content: "\e7b2";
}

.icon-justify:before {
  content: "\e7b3";
}

.icon-hide:before {
  content: "\e7b4";
}

.icon-info:before {
  content: "\e7b5";
}

.icon-group:before {
  content: "\e7b6";
}

.icon-event_scheduled:before {
  content: "\e7b7";
}

.icon-key:before {
  content: "\e7b8";
}

.icon-grid:before {
  content: "\e7b9";
}

.icon-heart:before {
  content: "\e7ba";
}

.icon-flashlight:before {
  content: "\e7bb";
}

.icon-hash:before {
  content: "\e7bd";
}

.icon-fuel:before {
  content: "\e7be";
}

.icon-filter:before {
  content: "\e7bf";
}

.icon-inbox:before {
  content: "\e7c0";
}

.icon-mail:before {
  content: "\e7c1";
}

.icon-collapse:before {
  content: "\e7c2";
}

.icon-line_chart:before {
  content: "\e7c3";
}

.icon-home:before {
  content: "\e7c4";
}

.icon-link:before {
  content: "\e7c5";
}

.icon-leaderboard:before {
  content: "\e7c6";
}

.icon-hybrid_view:before {
  content: "\e7c7";
}

.icon-mic:before {
  content: "\e7c8";
}

.icon-keypad:before {
  content: "\e7c9";
}

.icon-laugh:before {
  content: "\e7ca";
}

.icon-layout:before {
  content: "\e7cb";
}

.icon-image:before {
  content: "\e7cc";
}

.icon-more_horizontal:before {
  content: "\e7cd";
}

.icon-internet:before {
  content: "\e7ce";
}

.icon-moon:before {
  content: "\e7cf";
}

.icon-left_align:before {
  content: "\e7d0";
}

.icon-loader:before {
  content: "\e7d1";
}

.icon-location:before {
  content: "\e7d2";
}

.icon-download:before {
  content: "\e7d3";
}

.icon-message:before {
  content: "\e7d4";
}

.icon-map:before {
  content: "\e7d5";
}

.icon-notification:before {
  content: "\e7d6";
}

.icon-keyboard:before {
  content: "\e7d7";
}

.icon-euro:before {
  content: "\e7d8";
}

.icon-list:before {
  content: "\e7d9";
}

.icon-pause:before {
  content: "\e7da";
}

.icon-checkbox_unchecked:before {
  content: "\e7db";
}

.icon-paragraph:before {
  content: "\e7dc";
}

.icon-logout:before {
  content: "\e7dd";
}

.icon-payment:before {
  content: "\e7de";
}

.icon-photos:before {
  content: "\e7df";
}

.icon-layers:before {
  content: "\e7e0";
}