h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }

body, div, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin: 0; padding: 0;}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-size-adjust: none;
}

fieldset, img, abbr, acronym { border: 0; }

table { border-collapse: collapse; border-spacing: 0; }

ol, ul { list-style: none; text-decoration: none; }